.actions >ul{
    list-style: none;
    height: 1.3vw ;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4vh;
    line-height: 1.5vh;
    color: #7788A3;
  }
  
  .actions >ul >li{
    display: inline;
    margin-right: 3vw;

  }
  
  .schedule{
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    padding: 0;
    outline: inherit;
  }
  

  @media all and (max-width:1400px){
    .actions >ul{
        height: 90%;
      }
      .actions >ul >li {
        display: block;
        margin-bottom: 1vh;
      }
     
  }